<!DOCTYPE html>
<html>
<head>
    <title>Register - Campus Lost & Found</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>📝 Create Account</h1>

    <p class="welcome">
        Register to use Campus Lost & Found
    </p>


    <form action="/register" method="POST">

        <label>Full Name</label>

        <input
            type="text"
            name="name"
            placeholder="Enter your name"
            required
        >


        <br><br>


        <label>Email</label>

        <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
        >


        <br><br>


        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Create a password"
            required
        >


        <br><br>


        <button type="submit">
            📝 Register
        </button>

    </form>


    <br>


    <p>
        Already have an account?
        <a href="/login">
            Login here
        </a>
    </p>


    <br>


    <a href="/">
        <button>
            🏠 Back to Home
        </button>
    </a>

</div>

</body>
</html>
