<!DOCTYPE html>
<html>
<head>

    <title>Registered Users</title>

</head>

<body>

    <h1>👥 Registered Users</h1>

    <p>All users registered in Campus Lost & Found.</p>

    {% if users %}

        {% for user in users %}

            <div>

                <h2>{{ user.name }}</h2>

                <p>
                    <strong>Email:</strong>
                    {{ user.email }}
                </p>

            </div>

            <hr>

        {% endfor %}

    {% else %}

        <p>No registered users found.</p>

    {% endif %}


    <br>

    <a href="/dashboard">
        📊 Back to Dashboard
    </a>

    &nbsp;

    <a href="/">
        🏠 Home
    </a>

</body>
</html>
